body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex !important;
justify-content: center;
    margin-top: 30px;
    gap: 30px;
    flex-wrap: wrap;
}

.service-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 280px;
}

.service-box h3 {
    color: #333;
}

.service-box p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block !important; 
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: auto !important; 
    margin: 0 !important; 
}

.button:hover {
    background-color: #45a049;
}

.modalService {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contentService {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.modal-header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.modal-body input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-footer {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}