{% extends 'base.html' %} 
{% load static %}
{% block title %}Área do Cliente - Meu Site{% endblock title %}

{% block content %}
<section>
    {% block dashboard %}
    
    <h1>Área do Cliente</h1>

    {% include 'messages.html' %} <div class="box-cliente">
        

        <div id="view-mode" style="display: block;">
            {% if user.is_authenticated %}
                <p><strong>Nome:</strong> {{ user.get_full_name|default:user.email }}</p>
                <p><strong>Email:</strong> {{ user.email|default:"Email não informado" }}</p>
                <p><strong>Telefone:</strong> {{ user.telefone|default:"(XX) XXXXX-XXXX" }}</p>

                <div class="mt-4 d-flex justify-content-between">
                    <button type="button" class="btn btn-cadastro" onclick="toggleEditMode()">Editar Dados</button>

                    <form method="post" action="{% url 'excluir_conta' %}" onsubmit="return confirm('Tem certeza que deseja EXCLUIR sua conta? Esta ação é IRREVERSÍVEL.');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-excluir">Excluir Conta</button>
                    </form>
                </div>
        
            {% else %}
                        <p>Usuário não autenticado. Por favor, <a href="{% url 'login' %}">faça o login</a>.</p>
            {% endif %}
        </div>

        <div id="edit-mode" style="display: none;">
            
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'cliente' %}">
                    {% csrf_token %}
                    
                    {{ form.as_p }} 

                    <div class="mt-4">
                        <button type="submit" class="btn btn-cadastro">Salvar Alterações</button>
                        <button type="button" class="btn btn-excluir" onclick="toggleEditMode()">Cancelar</button>
                    </div>
                </form>
            {% endif %}
        </div>

    </div>
    
    {% endblock dashboard %}
</section>

{% endblock content %}