{% extends 'base.html' %}
{% load static %}
{% block title %}Serviços{% endblock %}

{% block dashboard %}

<body>
    <header>
        <h1>Escolha um Serviço</h1>
    </header>
    {% if messages %}
        <div class="message-container" style="padding: 10px; margin: 10px auto; max-width: 800px;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="padding: 15px; margin-bottom: 10px; border-radius: 4px; color: #721c24; background-color: #f8d7da; border: 1px solid #f5c6cb;">
                {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        {% for servico in servicos %}
            <div class="service-box">
                <h3>{{ servico.nome }}
                <br>
                (Duração: {{ servico.duracao_minutos }} min)</h3>
                <br>
                <p>{{ servico.descricao }}</p><br>
                
                {% if user.is_authenticated %}
                    <button class="button" onclick="openServiceModal('{{ servico.nome }}', '{{ servico.id }}')">
                        Agendar Agora
                    </button>
                {% else %}
                    <a href="{% url 'login' %}" class="button" style="text-decoration: none; display: inline-block;">
                        Agendar (Faça Login)
                    </a>
                {% endif %}
            </div>
        {% empty %}
            <p>Nenhum serviço cadastrado.</p>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
        <div id="myModal" class="modalService">
            <div class="modal-contentService">
                <span class="close" onclick="closeServiceModal()">&times;</span>
                <div class="modal-header">
                    <h2>Agendar Serviço</h2>
                </div>
                
                <div class="modal-body">
                    
                    <div id="serviceDisplayBlock">
                        <span id="selectedServiceName" style="font-weight: bold;"></span>
                        <input type="hidden" id="modalServiceId" name="servico_id_modal"> 
                    </div>
                    <br>
                    <label for="modalProfissionalSelect">Selecione o Profissional:</label>
                    <select id="modalProfissionalSelect" name="profissional_id" required>
                        <option value="" disabled selected>Selecione um Profissional</option> 
                    </select>

                    <br><br>
                    
                    <label for="datetime">Data e Hora:</label>
                    <input type="datetime-local" id="datetime" required />
                </div>

                <div class="modal-footer">
                    <button class="button" onclick="submitForm()">
                        Confirmar Agendamento
                    </button>
                </div>
            </div>
        </div>
    {% endif %}

    <form method="post" id="agendamentoForm" action="{% url 'service' %}" 
    data-api-url="{% url 'profissionais_por_servico' 0 %}" style="display:none;">
    {% csrf_token %}
    
    <input type="hidden" id="form_servico_id" name="servico"> 
    
    <input type="hidden" id="form_data_hora" name="data_hora">
    
    <input type="hidden" id="form_profissional_id" name="Profissional"> 
</form>
</body>
{% endblock %}
{% block extra_js %}

<script src="{% static 'js/service.js' %}"></script>
{% endblock %}